<div class="share-buttons">
  <span class="share-label">分享到</span>
  <a href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=<%= encodeURIComponent(page.permalink) %>&title=<%= encodeURIComponent(page.title) %>&desc=<%= encodeURIComponent(page.title) %>" target="_blank" rel="noopener noreferrer" class="share-btn qzone">QQ空间</a>
  <a href="https://connect.qq.com/widget/shareqq/index.html?url=<%= encodeURIComponent(page.permalink) %>&title=<%= encodeURIComponent(page.title) %>&summary=<%= encodeURIComponent(page.title) %>" target="_blank" rel="noopener noreferrer" class="share-btn qq">QQ</a>
  <a href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent(page.permalink) %>" target="_blank" rel="noopener noreferrer" class="share-btn facebook">Facebook</a>
  <a href="https://x.com/intent/post?url=<%= encodeURIComponent(page.permalink) %>&text=<%= encodeURIComponent(page.title) %>&via=xiaofen" target="_blank" rel="noopener noreferrer" class="share-btn x">X</a>
</div>
