<!DOCTYPE html>
<html lang="<%= page.lang || config.language %>">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= page.title ? page.title + ' | ' + config.title : config.title %></title>
  <meta name="description" content="<%= page.description || config.description %>">
  <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    script-src 'self' https://u.mikufans1.dpdns.org https://cdnjs.cloudflare.com https://cdn.jsdelivr.net https://giscus.app;
    style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://cdn.jsdelivr.net;
    img-src 'self' https://count.getloli.com https://*.music.126.net https://*.hdslb.com https: data:;
    connect-src 'self' https://u.mikufans1.dpdns.org https://giscus.app https://api.github.com https://api.i-meto.com https://*.music.126.net wss://giscus.app;
    frame-src https://giscus.app https://www.youtube.com https://player.bilibili.com https://www.bilibili.com https://*.bilibili.com;
    media-src 'self' https://api.i-meto.com https://*.music.126.net http://*.music.126.net;
    font-src 'self' data:;
    form-action 'self';
  ">
  <link rel="stylesheet" href="<%= url_for('/css/style.css') %>">
  <link rel="icon" type="image/jpeg" href="<%= url_for(config.favicon) %>">
  <%- partial('_partial/head') %>
</head>
<body>
  <div class="offline-banner" id="offlineBanner">你已处于离线状态，显示的是缓存的页面内容</div>
  <%- partial('_partial/header') %>
  <div id="barba-wrapper" data-barba="wrapper">
    <div data-barba="container" data-barba-namespace="<%= page.path ? page.path.replace(/\//g, '-').replace(/\.html$/, '') : 'home' %>">
      <div class="page-with-sidebar">
        <%- partial('_partial/sidebar') %>
        <main class="page-main">
          <div class="px-3 my-5 markdown-body">
            <%- body %>
          </div>
        </main>
      </div>
    </div>
  </div>
  <% if (page.path !== 'index.html') { %>
  <img src="https://count.getloli.com/@xf_blog?name=xf_blog&theme=miku&padding=10&offset=0&align=top&scale=1&pixelated=1&darkmode=1" alt="" class="counter-img" />
  <% } %>
  <%- partial('_partial/footer') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
  <script src="<%= url_for('/js/xf-blog.js') %>"></script>
  <script src="<%= url_for('/js/pjax.js') %>"></script>
  <script src="<%= url_for('/js/search.js') %>"></script>
  <%- partial('_partial/player') %>
</body>
</html>
