<article itemscope itemtype="https://schema.org/Article">
  <h1 itemprop="headline"><%= page.title %></h1>
  <time datetime="<%= date(page.date, 'YYYY-MM-DD') %>" itemprop="datePublished">
    时间：<%= date(page.date, 'YYYY-MM-DD') %>
  </time>
  <span itemprop="author" itemscope itemtype="https://schema.org/Person">
    <meta itemprop="name" content="<%= config.author %>">
  </span>
  <% if (page.tags && page.tags.length) { %>&emsp;&emsp;&emsp;标签：
    <% page.tags.each(function(tag) { %>
      <a href="<%= url_for('/tag/') %>#<%= tag.name %>"><%= tag.name %></a><% if (!tag._last) { %>, <% } %>
    <% }) %>
  <% } %>
  <hr />
  <div itemprop="articleBody">
    <%- page.content %>
  </div>
</article>
